<!DOCTYPE html>
<html lang="es">
<head>
    <!--Configuracion del documento-->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Learn It, Love It</title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <!--EJS inserta el html de la vista especifica-->
    <%- body %>
<script src="/main.js"></script>
</body>
</html>
